* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

.app-container {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-selector {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    display: flex;
    gap: 0.5rem;
}